<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/content/public/css/default.css"/>

    <link rel="stylesheet" type="text/css" href="/content/vendor/bootstrap/dist/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" type="text/css" href="/content/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/content/vendor/angular/angular-csp.css"/>
    
    <link rel="stylesheet" type="text/css" href="/content/vendor/angular-ui/build/angular-ui.min.css" />
</head>
<body class="boxed ">

    <h1>Hello world Self Hosting nancy</h1>

    @Section['Content'];
@Model.Now


<script language="javascript" type="text/javascript" src="content/vendor/jquery/dist/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/angular/angular.min.js"></script>
<script language="javascript" type="text/javascript" src="content/vendor/angular-ui/build/angular-ui-ieshiv.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/angular-ui/build/angular-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/bootstrap/dist/js/bootstrap.min.js"></script>

</body>
</html>