<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/content/public/css/default.css" />

    <link rel="stylesheet" type="text/css" href="/content/vendor/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/content/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/content/vendor/angular/angular-csp.css" />

    <link rel="stylesheet" type="text/css" href="/content/vendor/angular-ui/build/angular-ui.min.css" />
</head>
<body class="boxed " ng-app="productManagement">

    <h1>Hello world Self Hosting nancy{{10+11}}</h1>

    <div class="panel panel-primary">

        <div class="panel-heading">Heading</div>
        <div class="panel-body">


            <table class="table" ng-controller="ProductListCtrl as vm">

                <thead>
                    <tr>
                        <td>Product name</td>
                        <td>Price </td>
                        <td>
                            <button type="button" ng-click="vm.toggleImage()" class="btn btn-primary">
                                {{vm.showImage?"Hide ":"Show "}}  Image
                            </button>
                        </td>
                    </tr>
                </thead>

                <tbody>
                    <tr data-ng-repeat="product in vm.products">
                        <td>{{product.productName}}</td>
                        <td>{{product.price|currency}}</td>
                        <td>
                            <img ng-if="vm.showImage"
                                 ng-src="{{product.imageUrl}}"
                                 style="width: 50px; margin: 2px;" title="{{product.productName}}" />
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>

    <script language="javascript" type="text/javascript" src="content/vendor/jquery/dist/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/angular/angular.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/angular-ui/build/angular-ui-ieshiv.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/angular-ui/build/angular-ui.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="content/public/vendor/angular-resource.min.js"></script>
    <script language="javascript" type="text/javascript" src="content/public/vendor/angular-mocks.js"></script>
    <script language="javascript" type="text/javascript" src="content/public/app/app.js"></script>

    <script language="javascript" type="text/javascript" src="content/public/app/controllers/productlistctrl.js"></script>
<script language="javascript" type="text/javascript" src="content/public/app/common/services/common.services.js"></script>
    <script language="javascript" type="text/javascript" src="content/public/app/common/services/productResourceMock.js"></script>
    <script language="javascript" type="text/javascript" src="content/public/app/common/services/productresuource.js"></script>
</body>
</html>